<h1 class="contacts_heading">Now in the Contacts Index</h1>

{{#if addingNewContact}}
<label for="new_first_name">First name</label>
{{input type='text' value=controller.new_first_name id='new_first_name'}}
<label for="new_last_name">Last name</label>
{{input type='text' value=controller.new_last_name id='new_last_name'}}
<button id="save_new_contact" {{action 'saveNewContact'}} >Save new contact</button>
{{else}}
<button id="add_new_contact" {{action 'addNewContact'}} >Add new contact</but\
ton>
{{/if}}
<ul class="contacts_list">
  {{#each}}
  <li>{{#link-to 'contacts.show' this}}{{first_name}}{{/link-to}}</li>
  {{/each}}
</ul>


